<div class="grid-x align-center">
<h1 class="user-name"><%= current_user.user_name %></h1>
</div>
<div class="grid-x align-center">
<%= link_to "Edit your profile", edit_user_registration_path %>
</div>
<div id='app'></div>
