<div class="backdrop">
<div class="grid-x align-center">
<h1 class="name"><%= current_user.user_name %></h1>
</div>
<div class="grid-x align-center">
<img class="avatar grid-x align-center pro-photo" src="<%= current_user.avatar %>"/>
</div>
<div class="grid-x align-center users-nav">
<h4><%= link_to "Edit your profile", edit_user_registration_path %></h4>
</div>
</div>
<div id='app'></div>
