/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.card {
  width: 400px;
  height: 500px;
  margin: 5px;
  border-radius: 1rem;
}

.card-divider{
  padding: 4px;
  margin-bottom: 4px;
}

.card-section {
  height: 80px;
  overflow-y: scroll;
}

.user-name {
  font-size: 5em;
}

.subcat {
  font-size: 1em;
  background-color: #e7ffd6;
  border-radius: 1rem;
}

.serving{
  font-size: .8em;
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.meal-item {
  font-size: 1em;
  text-align: left;
}
