/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.meal-card {
  width: 400px;
  height: 500px;
  margin: 5px;
  border-radius: 1rem;
}

.card-divider{
  padding: 4px;
  margin-bottom: 4px;
}

.meal-card-section {
  height: 80px;
  overflow-y: scroll;
}

.user-name {
  font-size: 5em;
}

.subcat {
  font-size: 1em;
  background-color: #e7ffd6;
  border-radius: 1rem;
}

.outside{
  padding: 1px;
  width: 55em;
}

.serving{
  font-size: .8em;
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.meal-item {
  font-size: 1em;
  text-align: left;
}
.meal-item-names {
  font-size: 1.5em;
  text-align: left;
}

.whole-meal {
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 1em ;
}

.log-in {
  margin-left: 25%;
  margin-right: 25%;
}

.pro-photo {
  height: 10rem;
  width: 10rem;
  border: 5px solid black;
  float: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.red {
  background-color: #ff9c93;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.blue {
  background-color: #89bcff;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.green {
  background-color: #a1ff82;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.yellow {
  background-color: #fff399;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
}

.grey {
  background-color: #f7f7f7;
}

.light-red {
  background-color: #ffbeba;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 7rem;
}

.light-green {
  background-color: #c7ffb5;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.light-blue {
  background-color: #c1dcff;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.light-yellow {
  background-color: #fff8c4;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.item-delete {
  /*padding-left: 50%;
  padding-right: 50%;*/
}

.item-form{
  
}
