/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.meal-card {
  width: 300px;
  height: 400px;
  margin: 8px;
  border-radius: 1rem;
  border: 2px solid #8e8e8e;
  transition: transform .7s
}

.FAQ {
  background-color: white;
  padding-top: 2%;
  border: 2px solid #8e8e8e;
  background-color: #DED5C4;
  border-radius: 3rem;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.FAQ-title {
  font-family: 'Overlock', cursive;
  font-size: 3rem;
}

.errors {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

.sign-up-title {
  font-family: 'Overlock', cursive;
  font-size: 4rem;
  text-align: center;
  font-stretch: expanded;
  color: #e8f2f7;
}

.top-bar{
  background-color: #305973;
  border-bottom: 2px solid #8e8e8e;

}

.add-meal {
  color: black;
  font-size: .7rem;
  height: .5px;
  background-color: #fcbda6;
  border-radius: 6rem;
  font-family: 'Overlock', cursive;
  display: none;
  margin-left: 65%;
  padding-bottom: 15px;
  border: 2px solid #8e8e8e;
}

.add-meal:hover {
  background-color: #EF7E56;
  color: white;
  border: 2px solid #8e8e8e;
}

.meal-plan-card {
  width: 250px;
  height: 125px;
  /*border-radius: 1rem;*/
  border: 3px solid #8e8e8e;
}

.meal-plan-card-button {
  font-size: .7rem;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1.5%;
  width: 97%;
  /*border-radius: 1rem;*/
  background-color: #fcbda6;
}

.meal-facts {
  padding-top: 1%;
}

.meal-plan-card-button:hover {
  border: 1px solid #8e8e8e;
  background-color: #EF7E56;
}

.meal-plan-card:hover {
  transform: scale(1.1);
}

.card-divider{
  padding: 4px;
  margin-bottom: 1px;
}

.addmealdivider {
  margin-bottom: 0%;
}

.title {
  padding-top: 1%;
  font-family: 'Neucha', cursive;
  font-size: 5rem;
}
.meal-card-section {
  height: 80px;
  overflow-y: scroll;
}

.meal-title{
 font-family: 'Neucha', cursive;
}

.user-name {
  font-size: 5em;
}

.subcat {
  font-size: 1em;
  background-color: #FFFDFB;
  border-radius: 1rem;
}

.outside{
  padding: 1px;
  width: 55em;
}

.serving{
  font-size: .8em;
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.meal-item {
  font-size: 1em;
  text-align: left;
}

.meal-item-names {
  font-size: 1.5em;
  text-align: left;
}

.whole-meal {
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 1em ;
}

.log-in {
  margin-left: 30%;
  margin-right: 35%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #DED5C4;
  border-radius: 1rem;
  width: 35%;
  border: 3px solid #8e8e8e;
}

.Web-name{
  font-size: 6rem;
  margin-top: 5%;
  padding-right: 4%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.pro-photo {
  height: 10rem;
  width: 10rem;
  border: 8px solid #EF7E56;
  float: center;
  border-radius: 50%;
  margin-bottom: 60px;
  background-color: white;
}

.red {
  background-color: #ff9c93;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.blue {
  background-color: #89bcff;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.green {
  background-color: #a1ff82;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.yellow {
  background-color: #fff399;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
}

.grey {
  background-color: #f7f7f7;
  transition: transform .7s
}

.grey:hover {
  transform: scale(1.05);
  border: 4px solid #8e8e8e;
}

.light-red {
  background-color: #ffbeba;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 7rem;
}

.light-green {
  background-color: #c7ffb5;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.light-blue {
  background-color: #c1dcff;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.light-yellow {
  background-color: #fff8c4;
  border-radius: .5rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
  height: 23px;
  width: 10rem;
}

.meal-container{
  align: center;
  background: #305973;
  margin: 1% 5%;
  border-radius: 1rem;
  padding: 4%;
  border: 2px solid #8e8e8e;
  box-shadow: 3px 3px #999;
}

.outside-meal-container {
    background: #DED5C4;
    padding: 0px;
    margin: 1% 2%;
    border: 2px solid #8e8e8e;
    box-shadow: 3px 3px #999;
}
.item-delete {
  /*padding-left: 50%;
  padding-right: 50%;*/
}

.items-strip{
  background-color: #e6e6e6;
  height:20px;
  font-size: .8rem;
}

.item-form{
  margin-left: 25%;
  width: 50%;
  background-color: #DED5C4;
  padding: 2rem;
  border: 2px solid #8e8e8e;
}

.nut-facts{
  background-color: #DED5C4;
  border: 2px solid #8e8e8e;
  height:142px;
  font-family: open-sans;
}

.items-section {
  background-color: #F9F9F9;
}

.each-item {
  border-radius: .4rem;
}

.meal-form {
  background-color: #DED5C4;
  padding: 2rem;
  /*border-radius: 1rem;*/
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 2px solid #8e8e8e;
  box-shadow: 3px 3px #999;
}

.form {
  background-color: #305973;
  border-radius: 1rem;
  padding: 2rem 5rem;
}

.meal-plan-strip {
    background-color: #DED5C4;
    margin: 0%;
    border-radius: 1rem;
    box-shadow: 3px 3px #999;
    margin: 3%;
}

.meal-plan-container {
  background-color: #305973;
  border: 2px solid #8e8e8e;
  border-radius: 1rem;
  margin: 0% 3%;
}

.backdrop {
  background-image: url("https://image.freepik.com/vector-gratis/utensilios-de-cocina-en-los-estantes_23-2147505429.jpg");
  /*background-repeat: no-repeat;*/
  background-size: 33.5%;
  /*opacity: 0.5;*/
}

.form-title{
    color: #F9F9F9;
}

.brake-titles{
 font-family: 'Overlock', cursive;
  font-size: 4.5rem;
}

.users-nav {
  background-color: #305973;
  width: 100%;
  height: 2.5rem;
  border: 2px solid #8e8e8e;
}

body {
  background-color: #edeeef;
}

.form-button{
  color: #F9F9F9;
  background-color: #0881A3;
  border-radius: 1rem;
  width: 200px;
}

.item-button{
  width: 100%;
}

.name {
  background-color: #305973;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  margin: 1%;
  color: white;
  border-radius: .8rem;
  font-size: 5rem;
  border: 2px solid #8e8e8e;
  font-family: 'Neucha', cursive;
}

.meal-plan-card {
  margin: 2rem;
  border-radius: 2rem;
}

#newMealButton {
  font-family: Georgia;
  font-size: 1.5rem;
  background-color: #fcbda6;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

#newMealButton:hover {
  padding-right: 75px;
  background-color: #EF7E56;
  border: 2px solid #8e8e8e;
}

#newMealButton span {
  cursor: pointer;
  display: inline-block;
  position: right;
  transition: 0.5s;
}

#newMealButton span:after {
  content: '  \00bb';
  position: static;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#newMealButton:hover span:after {
  opacity: 1;
  right: 0;
}

#newMeal {
    display: none;
}

a:link {
  color: black;
}

a:hover {
    color: #EF7E56;
}

input {
  /*width: 30%;*/
}

.app-input {
  width: 20px;
}

.apiFormOutside {
  background-color: #DED5C4;
  padding: 1%;
  margin-top: 3%;
  border-radius: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 3px 3px #999;
}

.apiForm {
  background-color: #305973;
  padding: 3%;
  border: 2px solid #8e8e8e;
  border-radius: 3rem;
  box-shadow: 1px 1px #999;
}

.apiFormHead {
  font-size: 5rem;
  margin-bottom: 5%;
  font-family: 'Overlock', cursive;
  color: white;
}

.addItemButton {
  font-family: Georgia;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #fcbda6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 2%;
}

.addItemButton:hover {
  /*padding-right: 75px;*/
  background-color: #EF7E56;
}

.addItemButton:active {
  background-color: #EF7E56;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.log-in-background {
  background-image: url("https://i.pinimg.com/originals/d6/a0/95/d6a095689208be7d8e3a6e0ed34c6e49.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

/*.space{
  height:9rem;
  background-color: #DED5C4;
  border-top: 2px solid #8e8e8e;
}*/

.sign-up-form {
  background-color: #739eb7;
  padding: 2rem;
  border-radius: 3rem;
  /*margin-top: 1rem;*/
  border: 2px solid #8e8e8e;
  /*color: white;*/
  /*margin-right: 5%;*/
  margin-top: 2%;
  margin-bottom: 2%;
}

/*label {
  color: white;
}*/
a {
  color: white;
}
.userLink{
  background-color: #305973;
  border: 2px solid #8e8e8e;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 1rem;
}
.message {
  text-align: center;
  color: white;
  background-color: #EF7E56;
  margin-bottom: 0%;
}
